@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

a.active {
  /* color: var(--primary); */
}
/* leaflet styles start */
.leaflet-container a {
  color: #000 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

/* scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background: #f3f3f3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
  transition: all 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.ql-container {
  font-family: "Kumbh Sans", sans-serif !important;
}
.lazy-load-image-background.blur.lazy-load-image-loaded img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/bold.ttf") format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.shadows {
  box-shadow: 2px 2px 40px 0px hsla(233, 28%, 19%, calc(100% - 90%));
  transition: all 0.4s;
}

.shadows:hover {
  box-shadow: 4px 4px 60px 0px hsla(233, 28%, 19%, calc(100% - 90%));
}

button:disabled {
  cursor: not-allowed;
}

/* React day picker css */
.rdrMonth {
  width: 100% !important;
  font-size: 14px !important;
}
.rdrMonthAndYearPickers select {
  font-size: 14px !important;
  color: var(--dark-1) !important;
}
.css-1flmtb5-MuiDataGrid-root .MuiDataGrid-row {
  max-height: 200px !important;
  min-height: 200px !important;
}
.rdrDay {
  height: 4em !important;
  border-radius: 50% !important;
}
.css-1flmtb5-MuiDataGrid-root
  .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)
  > .MuiDataGrid-cell {
  max-height: 200px !important;
  min-height: 200px !important;
}

.rdrDateRangePickerWrapper {
  border: 2px solid #000 !important;
  border-radius: 50% !important;
  padding: 10px;
}
.rdrCalendarWrapper {
  width: 100% !important;
  color: var(--dark-1) !important;
  font-size: 15px !important;
}
/* React day picker css */

.family1 {
  font-family: "Karla", sans-serif !important;
}
:root {
  --grey-1: #4f578d;
  /* --light-grey: */
  --dark-1: rgb(34, 37, 61);
  --primary: #327af7;
  --background_2: #0e0d0c;
  --gold-1: #be9874;
  --red: #f73760;
}

.text-grey {
  color: rgb(141, 141, 141) !important;
}

.background_grey {
  opacity: 0.2;
  transform: scale(1, -1);
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%221920%22%20height%3D%22954%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23prefix__clip0_58_787%29%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22rgba%28217%2C220%2C237%2C1%29%22%3E%3Cpath%20d%3D%22M1660.78-198.081c41-37.158%20104.32-33.985%20141.42%207.087%20110.48%20122.305%20170.1%20282.332%20166.66%20447.27-3.44%20164.938-69.67%20322.331-185.14%20439.906-115.49%20117.578-271.47%20186.426-435.99%20192.395-164.52%205.968-325.06-51.397-448.719-160.304-41.528-36.574-45.591-99.941-9.074-141.535%2036.517-41.593%2099.784-45.662%20141.313-9.088%2085.25%2075.079%20195.89%20114.598%20309.23%20110.486%20113.35-4.112%20220.85-51.546%20300.47-132.611%2079.63-81.068%20125.32-189.63%20127.7-303.434%202.37-113.804-38.77-224.188-114.95-308.523-37.1-41.072-33.93-104.49%207.08-141.649z%22%2F%3E%3Cpath%20d%3D%22M1544.89%2037.429c50.71-22.192%20109.79.947%20131.97%2051.683a383.79%20383.79%200%200110.87%20279.732c-31.73%2091.288-96.71%20167.233-181.94%20212.762a384.921%20384.921%200%2001-278%2033.06c-93.53-24.262-174.53-82.823-226.82-164.088-29.965-46.559-16.532-108.606%2030-138.586%2046.53-29.979%20108.54-16.538%20138.51%2030.021%2024.99%2038.834%2063.75%2066.898%20108.61%2078.536a184.603%20184.603%200%2000133.31-15.847c40.83-21.815%2071.88-58.154%2087.03-101.727a183.148%20183.148%200%2000-5.19-133.5c-22.18-50.735.95-109.854%2051.65-132.046z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22prefix__clip0_58_787%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h1920v954H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E);
}
@keyframes stripes {
  0% {
    background-position: 40px 0;
  }

  100% {
    background-position: 0 0;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  line-height: 1.6 !important;
  color: var(--dark-1);
  font-family: "Kumbh Sans", sans-serif !important;
}

.hide {
  overflow: hidden !important;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0.6rem;
  font-family: "Karla", sans-serif !important;
  border-radius: 10px;
}

form input {
  min-height: 49px;
  /* min-width: 130px; */
  border-radius: 5px;
  background-color: inherit;
  transition: all 0.3s;
  border: 1.5px solid #e7e7e9;
  padding: 0 1rem;
}
input {
  min-height: 49px;
  /* min-width: 130px; */
  border-radius: 5px;
  background-color: inherit;
  transition: all 0.3s;
  border: 1.5px solid #3e3aff;
  padding: 0 1rem;
  font-family: "Karla", sans-serif !important;
}
form input:hover {
  box-shadow: 0 0 0 6px #e7e7e9;
  transition: all 0.3s;
  outline: 1px solid #3e3aff;
}
input:hover {
  box-shadow: 0 0 0 6px #e7e7e9;
  transition: all 0.3s;
  outline: 1px solid #3e3aff;
}
input:focus {
  box-shadow: 0 0 0 6px #e7e7e9;
  transition: all 0.3s;
  outline: 1px solid #3e3aff;
}

.btn {
  transition: all 0.5s;
  background: var(--primary) !important;
  cursor: pointer;
  border-radius: 10px !important;
}
.btn:hover {
  background: var(--grey-1) !important;
  box-shadow: 0 0 0 6px #e7e7e9;
  box-shadow: 0 0 0 6px #e7e7e9;
  transition: all 0.3s;
}

.btn.btn_2 {
  transition: all 0.5s;
  background: #fff !important;
  color: #000 !important;
}

.btn.btn_3 {
  transition: all 0.5s;
  background-color: rgba(41, 45, 72, 0.894) !important;
  color: #fff !important;
}

.btn.btn_2:hover {
  background: var(--primary) !important;
  color: #fff !important;
    box-shadow: 0 0 0 6px #e7e7e9;
  transition: all 0.3s;
}

.hide {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* calendar */
#reactSchedulerOutsideWrapper,
#reactSchedulerOutsideWrapper *,
#reactSchedulerOutsideWrapper ::before,
#reactSchedulerOutsideWrapper ::after {
  font-family: "Kumbh Sans", sans-serif !important;
}

.sc-iuOPfm.eiWmqu {
  display: flex !important;
  align-items: center !important;
  gap: 4px;
}

.sc-gjLKRp.gqsWwT {
  font-family: "Kumbh Sans", sans-serif !important;
  font-weight: 600;
}

.sc-cCzKKE.bwVOYM {
  font-family: "Kumbh Sans", sans-serif !important;
  /* font-weight: normal !important; */
  font-size: 12px !important;
}

.sc-cCzKKE.fOgBaC {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.sc-gjLKRp.gqsWwT {
  font-size: 13px !important;
  font-weight: 600;
}

.sc-gjLKRp.eAzhgx {
  font-family: "Kumbh Sans", sans-serif !important;
  font-size: 12px !important;
}

.jMfbsI {
  min-width: 196px;
  max-width: 196px;
  min-height: 100vh;
  position: sticky;
  left: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
  z-index: 2;
}

.jwOjdZ {
  width: 4rem !important;
  height: 3rem !important;
  border-radius: 4px !important;

  overflow: hidden;
  flex-shrink: 0;
  margin-right: 0 !important;
}

.biTtqx {
  font-size: 14px !important;
}

/* image */
.sc-cyZbSi.hlIWFJ {
  width: 4rem !important;
  height: 3rem !important;
  border-radius: 10px !important;
  overflow: hidden;
}

/* image */
.sc-lnskGP.jxgfZX {
  margin-right: 0.6rem;
  width: 5rem !important;
  height: 3rem !important;
  border-radius: 10px !important;
}

.sc-cCzKKE.bwVOYM {
  display: block !important;
  font-family: "Kumbh Sans", sans-serif !important;
}

.sc-cCzKKE.fOgBaC::after {
  display: none !important;
}

.sc-cCzKKE.dxSqfw {
  font-size: 14px !important;
}

.sc-cCzKKE.dxSqfu {
  display: block !important;
  font-family: "Kumbh Sans", sans-serif !important;
}

.sc-cCzKKE.dxSqfw::after {
  display: none !important;
}

.sc-ktwOSD.krkZMy {
  display: none !important;
}

.sc-hhyLtv.cgvzyy,
.sc-hhyLtv.jPtdgu {
  border-radius: 40px !important;
  border: 2px solid #fff !important;
}

.sc-irLwvL.cEoEaz svg {
  display: none !important;
}

.sc-irLwvL.cEoEaz {
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 40px !important;
  font-size: 13px !important;
}

.sc-irLwvL.cEoEaz:hover {
  padding: 10px;
  background-color: #eee;
}

/* prev */
.sc-csKIKE.bnXJxV,
.sc-csKIKE.eDuCga {
  padding: 10px !important;
  border-radius: 40px !important;
  font-size: 13px !important;
  display: flex !important;
  gap: 6px !important;
  color: var(--gold-1);
}

/* button container */
.sc-kFCsca.gCcrPJ {
  display: flex;
  gap: 1px !important;
}

/* next button */
.sc-csKIKE.bnXJxV::after,
.sc-csKIKE.bnXJxV::before,
.sc-csKIKE.eDuCga::after,
.sc-csKIKE.eDuCga::before {
  display: none !important;
}

.sc-csKIKE.bnXJxV:hover,
.sc-csKIKE.eDuCga:hover {
  background-color: var(--primary) !important;
  color: #fff;
}

/* filter button */
.sc-brSaZW.hyBqiv {
  display: none !important;
}

@media (max-width: 780px) {
  /* .sc-iuOPfm.eiWmqu {
   flex-direction: column !important;
  } */
  .sc-lnskGP.jxgfZX,
  .sc-cyZbSi.hlIWFJ,
  .jwOjdZ {
    display: none !important;
  }

  .jMfbsI {
    min-width: 100px !important;
    max-width: 100px !important;
  }

  .bmRGyN {
    width: 100px !important;
  }

  .kNACXA,
  .jNPygj {
    width: 100% !important;
  }
}
